@model TestApp.Models.Entities.Position

@{
    ViewBag.Title = "Добавление должности";
}

<div class="edit-employee__container">
    <h3>Добавление должности</h3>
    <form asp-action="AddPosition" asp-controller="Position" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="position_name" class="control-label">Должность</label>
            <input type="text" asp-for="position_name" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </form>
</div>

