@model TestApp.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Регистрация сотрудника";
}

<div class="edit-employee__container">
    <h3>Регистрация сотрудника</h3>
    <form asp-action="AddEmployee" asp-controller="Employee" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Login" class="control-label"></label>
            <input asp-for="Login" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="RoleNames"></label><br>
            @foreach (var roleName in Model.RoleNameList)
            {
                <input type="checkbox" name="roleNames" value="@roleName">
                @roleName<br>
            }
        </div>
        <div class="form-group">
            <label asp-for="PositionNames"></label><br>
            @foreach (var positionName in Model.PositionNameList)
            {
                <input type="checkbox" name="positionNames" value="@positionName"> 
                @positionName<br>
            }
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </form>
</div>